body, p, span, a, button {
    font-family: 'Consolas', monospace;
    font-size: 20px;
}

body {
    background-color: lightblue;
}

.hidden {
    display: none;
}

#noscript-highlight {
    font-size: 20px;
    text-shadow: 2px 2px 1px blueviolet;
}

.box {
    border: 1px solid black;
    padding: 30px;
    margin: 10px;
}

button {
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

button.cool-button {
    color: black;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

button.cool-button:hover {
    box-shadow: -4px 4px 1px darkgreen;
    transform: translate(4px, -4px);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
