body, p, span, a {
  font-family: 'Consolas', monospace;
  font-size: 16px;
}

body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

#noscript-highlight {
  font-size: 20px;
  text-shadow: 2px 2px 1px blueviolet;
}
